<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter18pt-Black.ttf</string>
		<string>Inter18pt-Bold.ttf</string>
		<string>Inter18pt-Medium.ttf</string>
		<string>Inter18pt-Light.ttf</string>
		<string>NRGEffraApp-Bold.ttf</string>
		<string>NRGEffraApp-Italic.ttf</string>
		<string>NRGEffraApp-Medium.ttf</string>
		<string>NRGEffraApp-Regular.ttf</string>
		<string>BasicSans-Black.otf</string>
		<string>BasicSans-Bold.otf</string>
		<string>BasicSans-Light.otf</string>
		<string>BasicSans-Regular.otf</string>
		<string>BasicSans-SemiBold.otf</string>
	</array>
</dict>
</plist>
